## THE BRIDGE (Data Science Bootcamp - Agosto 2020)
##  PROYECTO GRUPO D 
________________
### Análisis de datos asociados al COVID-19 del grupo de paises conformado por Portugal, Venezuela, Turquía, Reino Unido y España.

Fuente de datos (Data Set)  "https://covid.ourworldindata.org/data/owid-covid-data.csv"

Team members: 
- José Luis Manjon-->   presimanjon@yahoo.es
- Filipa Teles------>   filipa.teles@icloud.com
- Mónica Villasuso-->   villasuso.monica@gmail.com

In [1]:
import pandas as pd 
import json  
import numpy as np

# visualization libraries
import matplotlib.pyplot as plt
import seaborn as sns


# print the graphs in the notebook
%matplotlib inline

# set seaborn style to white
sns.set_style("white")

In [11]:
url = "https://covid.ourworldindata.org/data/owid-covid-data.csv"
covid_general = pd.read_csv(url,parse_dates=['date'], sep=",")
covid_general

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,...,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy
0,AFG,Asia,Afghanistan,2019-12-31,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
1,AFG,Asia,Afghanistan,2020-01-01,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
2,AFG,Asia,Afghanistan,2020-01-02,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
3,AFG,Asia,Afghanistan,2020-01-03,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
4,AFG,Asia,Afghanistan,2020-01-04,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33622,NaN,NaN,International,2020-02-28,705.0,0.0,4.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33623,NaN,NaN,International,2020-02-29,705.0,0.0,6.0,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33624,NaN,NaN,International,2020-03-01,705.0,0.0,6.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33625,NaN,NaN,International,2020-03-02,705.0,0.0,6.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33626,NaN,NaN,International,2020-03-10,696.0,-9.0,7.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Otra forma de haber pasado a datetime si no hubiera usado el comando parse_dates al descargar la data seria ejecutar lo siguiente:  covid_grupoD['date']=pd.to_datetime(covid_grupoD['date'],format="%Y-%m-%d")
                        covid_grupoD

In [14]:
paises_grupoD=["GBR","PRT", "VEN", "TUR", "ESP"]
covid_grupoD=covid_general[covid_general.iso_code.isin(paises_grupoD)]
covid_grupoD.sort_values(by='date', ascending=True, inplace=True)
covid_grupoD

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,...,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy
31559,GBR,Europe,United Kingdom,2019-12-31,0.0,0.0,0.0,0.0,0.000,0.000,...,12.527,39753.244,0.2,122.137,4.28,20.0,24.7,NaN,2.54,81.32
28210,ESP,Europe,Spain,2019-12-31,0.0,0.0,0.0,0.0,0.000,0.000,...,13.799,34272.360,1.0,99.403,7.17,27.4,31.4,NaN,2.97,83.56
31560,GBR,Europe,United Kingdom,2020-01-01,0.0,0.0,0.0,0.0,0.000,0.000,...,12.527,39753.244,0.2,122.137,4.28,20.0,24.7,NaN,2.54,81.32
28211,ESP,Europe,Spain,2020-01-01,0.0,0.0,0.0,0.0,0.000,0.000,...,13.799,34272.360,1.0,99.403,7.17,27.4,31.4,NaN,2.97,83.56
28212,ESP,Europe,Spain,2020-01-02,0.0,0.0,0.0,0.0,0.000,0.000,...,13.799,34272.360,1.0,99.403,7.17,27.4,31.4,NaN,2.97,83.56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30946,TUR,Asia,Turkey,2020-07-29,227982.0,963.0,5645.0,15.0,2703.160,11.418,...,5.061,25129.341,0.2,171.285,12.13,14.1,41.1,NaN,2.81,77.69
31771,GBR,Europe,United Kingdom,2020-07-30,301455.0,763.0,45961.0,83.0,4440.606,11.239,...,12.527,39753.244,0.2,122.137,4.28,20.0,24.7,NaN,2.54,81.32
24609,PRT,Europe,Portugal,2020-07-30,50613.0,203.0,1725.0,3.0,4963.661,19.908,...,14.924,27936.896,0.5,127.842,9.85,16.3,30.0,NaN,3.39,82.05
30947,TUR,Asia,Turkey,2020-07-30,228924.0,942.0,5659.0,14.0,2714.329,11.169,...,5.061,25129.341,0.2,171.285,12.13,14.1,41.1,NaN,2.81,77.69
32662,VEN,South America,Venezuela,2020-07-30,16571.0,0.0,151.0,0.0,582.748,0.000,...,3.915,16745.022,NaN,204.850,6.47,NaN,NaN,NaN,0.80,72.06

In [ ]:
# Es una mascara que me dará una nueva tabla en la que aparecerán únicamente los cinco paises asignados, es algo equivalente a lo ejecutado anteriormente
#   covid_general2[(covid_general2.iso_code == 'TUR') | (covid_general2.iso_code == 'PRT') | (covid_general2.iso_code == 'GBR') | (covid_general2.iso_code == 'VEN') | (covid_general2.iso_code == 'ESP')]

In [ ]:
# Coloco como índice la columna de la fecha
# covid_grupoD.set_index(["date"],inplace=True)

## DATA WRANGLING

In [17]:
# Obtengo el número de NaN totales en el dataframe
covid_grupoD.isnull().sum().sum()

4261

In [16]:
covid_grupoD.info()# queriamos ver el tipo Dtype de cada columna

<class 'pandas.core.frame.DataFrame'>
Int64Index: 853 entries, 31559 to 32662
Data columns (total 34 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   iso_code                         853 non-null    object
 1   continent                        853 non-null    object
 2   location                         853 non-null    object
 3   date                             853 non-null    datetime64[ns]
 4   total_cases                      851 non-null    float64
 5   new_cases                        851 non-null    float64
 6   total_deaths                     851 non-null    float64
 7   new_deaths                       851 non-null    float64
 8   total_cases_per_million          851 non-null    float64
 9   new_cases_per_million            851 non-null    float64
 10  total_deaths_per_million         851 non-null    float64
 11  new_deaths_per_million           851 non-null    float64
 12  new_tests                        379 non-null    float64
 13  total_tests                      405 non-null    float64
 14  total_tests_per_thousand         405 non-null    float64
 15  new_tests_per_thousand           379 non-null    float64
 16  new_tests_smoothed               474 non-null    float64
 17  new_tests_smoothed_per_thousand  474 non-null    float64
 18  tests_units                      502 non-null    object
 19  stringency_index                 825 non-null    float64
 20  population                       853 non-null    float64
 21  population_density               853 non-null    float64
 22  median_age                       853 non-null    float64
 23  aged_65_older                    853 non-null    float64
 24  aged_70_older                    853 non-null    float64
 25  gdp_per_capita                   853 non-null    float64
 26  extreme_poverty                  716 non-null    float64
 27  cardiovasc_death_rate            853 non-null    float64
 28  diabetes_prevalence              853 non-null    float64
 29  female_smokers                   716 non-null    float64
 30  male_smokers                     716 non-null    float64
 31  handwashing_facilities           0 non-null      float64
 32  hospital_beds_per_thousand       853 non-null    float64
 33  life_expectancy                  853 non-null    float64
dtypes: datetime64[ns](1), float64(29), object(4)
memory usage: 219.9+ KB

In [46]:
covid_grupoD.isnull().sum() # Numero de NaN en el dataframe por columnas

country                              0
continent                            0
location                             0
date                                 0
total_cases                          2
new_cases                            2
total_deaths                         2
new_deaths                           2
total_cases_per_million              2
new_cases_per_million                2
total_deaths_per_million             2
new_deaths_per_million               2
new_tests                          474
total_tests                        448
total_tests_per_thousand           448
new_tests_per_thousand             474
new_tests_smoothed                 379
new_tests_smoothed_per_thousand    379
tests_units                        351
stringency_index                    28
population                           0
population_density                   0
median_age                           0
aged_65_older                        0
aged_70_older                        0
gdp_per_capita                       0
extreme_poverty                    137
cardiovasc_death_rate                0
diabetes_prevalence                  0
female_smokers                     137
male_smokers                       137
handwashing_facilities             853
hospital_beds_per_thousand           0
life_expectancy                      0
dtype: int64

Comparando el nº de filas del datafrema con el numero de valores no nulos en cada columna (por ejemplo total_cases y total_deaths) podemos inferir que en bastantes de ellas hay solamente dos valores nulos. Vamos a localizar en que lugar se encuentran para tomar una decisión sobre ellos.

La columna llamada 'handwashing_facilities' tiene todos sus elementos tipo Nan y la columna 'continent' no aporta nada a nuestro estudio por lo que las eliminaremos del dataframe. 

Empiezo a analizar los valores NaN que contiene la tabla. A continuación distintas opciones para tratar a los NaN.
Sustituirlos por un valor determinad: df_nuevo = df.fillna(value=3)
Reemplazar por el valor promedio de la columna df_nuevo = df.fillna(df.mean())
interpolando con el resto de datos conocidos se usa la función interpolate: df_inter = df.interpolate(method='linear'). Otros metodos de interpolación: ‘linear’, ‘time’, ‘index’, ‘values’, ‘nearest’, ‘zero’, ‘slinear’, ‘quadratic’, ‘cubic’, ‘barycentric’, ‘krogh’, ‘polynomial’, ‘spline’ ‘piecewise_polynomial’, ‘pchip’.

In [48]:
covid_grupoD.drop(axis=1, columns=['handwashing_facilities', 'continent'], inplace=True)

In [50]:
# Veo la cantidad de NaN que todavía permanecen en la tabla
covid_grupoD.isnull().sum().sum()

3408

In [52]:
# Nos indica donde se encuentran los NaN
null_columns=covid_grupoD.columns[covid_grupoD.isnull().any()]
covid_grupoD[null_columns].isnull().sum()
covid_grupoD[covid_grupoD.isnull().any(axis=1)][null_columns].head()

,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,new_tests,total_tests,total_tests_per_thousand,new_tests_per_thousand,new_tests_smoothed,new_tests_smoothed_per_thousand,tests_units,stringency_index,extreme_poverty,female_smokers,male_smokers
31559,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.2,20.0,24.7
28210,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,27.4,31.4
31560,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.2,20.0,24.7
28211,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,27.4,31.4
28212,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,27.4,31.4

In [51]:
covid_grupoD

,country,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,...,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,hospital_beds_per_thousand,life_expectancy
31559,GBR,United Kingdom,2019-12-31,0.0,0.0,0.0,0.0,0.000,0.000,0.000,...,18.517,12.527,39753.244,0.2,122.137,4.28,20.0,24.7,2.54,81.32
28210,ESP,Spain,2019-12-31,0.0,0.0,0.0,0.0,0.000,0.000,0.000,...,19.436,13.799,34272.360,1.0,99.403,7.17,27.4,31.4,2.97,83.56
31560,GBR,United Kingdom,2020-01-01,0.0,0.0,0.0,0.0,0.000,0.000,0.000,...,18.517,12.527,39753.244,0.2,122.137,4.28,20.0,24.7,2.54,81.32
28211,ESP,Spain,2020-01-01,0.0,0.0,0.0,0.0,0.000,0.000,0.000,...,19.436,13.799,34272.360,1.0,99.403,7.17,27.4,31.4,2.97,83.56
28212,ESP,Spain,2020-01-02,0.0,0.0,0.0,0.0,0.000,0.000,0.000,...,19.436,13.799,34272.360,1.0,99.403,7.17,27.4,31.4,2.97,83.56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30946,TUR,Turkey,2020-07-29,227982.0,963.0,5645.0,15.0,2703.160,11.418,66.932,...,8.153,5.061,25129.341,0.2,171.285,12.13,14.1,41.1,2.81,77.69
31771,GBR,United Kingdom,2020-07-30,301455.0,763.0,45961.0,83.0,4440.606,11.239,677.032,...,18.517,12.527,39753.244,0.2,122.137,4.28,20.0,24.7,2.54,81.32
24609,PRT,Portugal,2020-07-30,50613.0,203.0,1725.0,3.0,4963.661,19.908,169.172,...,21.502,14.924,27936.896,0.5,127.842,9.85,16.3,30.0,3.39,82.05
30947,TUR,Turkey,2020-07-30,228924.0,942.0,5659.0,14.0,2714.329,11.169,67.098,...,8.153,5.061,25129.341,0.2,171.285,12.13,14.1,41.1,2.81,77.69
32662,VEN,Venezuela,2020-07-30,16571.0,0.0,151.0,0.0,582.748,0.000,5.310,...,6.614,3.915,16745.022,NaN,204.850,6.47,NaN,NaN,0.80,72.06

Renombramos la columna iso_code como country que es más intuitivo

In [21]:
covid_grupoD.rename(columns={"iso_code": "country"}, inplace=True)

A continuación vamos a analizar cuando empezarón a reportar información cada uno de los paises de nuestro grupo de análisis

In [40]:
#  El primer dato de cualquiera de los paises de estudio se da en la fecha siguiente
covid_datos = covid_grupoD[(covid_grupoD['country'].isin(paises_grupoD)) & (covid_grupoD.total_cases >0)]
covid_datos.date.min()

Timestamp('2020-02-01 00:00:00')

## PORTUGAL

In [36]:
# El inicio de los datos
covid_grupoD[covid_grupoD['country']== 'PRT']

,country,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,...,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy
24458,PRT,Europe,Portugal,2020-03-01,NaN,NaN,NaN,NaN,NaN,NaN,...,14.924,27936.896,0.5,127.842,9.85,16.3,30.0,NaN,3.39,82.05
24459,PRT,Europe,Portugal,2020-03-02,NaN,NaN,NaN,NaN,NaN,NaN,...,14.924,27936.896,0.5,127.842,9.85,16.3,30.0,NaN,3.39,82.05
24460,PRT,Europe,Portugal,2020-03-03,2.0,2.0,0.0,0.0,0.196,0.196,...,14.924,27936.896,0.5,127.842,9.85,16.3,30.0,NaN,3.39,82.05
24461,PRT,Europe,Portugal,2020-03-04,4.0,2.0,0.0,0.0,0.392,0.196,...,14.924,27936.896,0.5,127.842,9.85,16.3,30.0,NaN,3.39,82.05
24462,PRT,Europe,Portugal,2020-03-05,5.0,1.0,0.0,0.0,0.490,0.098,...,14.924,27936.896,0.5,127.842,9.85,16.3,30.0,NaN,3.39,82.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24605,PRT,Europe,Portugal,2020-07-26,49955.0,263.0,1716.0,4.0,4899.131,25.793,...,14.924,27936.896,0.5,127.842,9.85,16.3,30.0,NaN,3.39,82.05
24606,PRT,Europe,Portugal,2020-07-27,50164.0,209.0,1717.0,1.0,4919.627,20.497,...,14.924,27936.896,0.5,127.842,9.85,16.3,30.0,NaN,3.39,82.05
24607,PRT,Europe,Portugal,2020-07-28,50299.0,135.0,1719.0,2.0,4932.867,13.240,...,14.924,27936.896,0.5,127.842,9.85,16.3,30.0,NaN,3.39,82.05
24608,PRT,Europe,Portugal,2020-07-29,50410.0,111.0,1722.0,3.0,4943.753,10.886,...,14.924,27936.896,0.5,127.842,9.85,16.3,30.0,NaN,3.39,82.05
24609,PRT,Europe,Portugal,2020-07-30,50613.0,203.0,1725.0,3.0,4963.661,19.908,...,14.924,27936.896,0.5,127.842,9.85,16.3,30.0,NaN,3.39,82.05

Los dos primeros registros de Portugal del 1 y el 2 de Marzo son registros NaN por lo que se eliminan del dataframe al no aportar ninguna información.

In [33]:
#  PORTUGAL
covid_dates_prt = covid_grupoD[(covid_grupoD['country']== 'PRT') & (covid_grupoD.new_cases>0)]
covid_dates_prt.head()

,country,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,...,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy
24460,PRT,Europe,Portugal,2020-03-03,2.0,2.0,0.0,0.0,0.196,0.196,...,14.924,27936.896,0.5,127.842,9.85,16.3,30.0,NaN,3.39,82.05
24461,PRT,Europe,Portugal,2020-03-04,4.0,2.0,0.0,0.0,0.392,0.196,...,14.924,27936.896,0.5,127.842,9.85,16.3,30.0,NaN,3.39,82.05
24462,PRT,Europe,Portugal,2020-03-05,5.0,1.0,0.0,0.0,0.490,0.098,...,14.924,27936.896,0.5,127.842,9.85,16.3,30.0,NaN,3.39,82.05
24463,PRT,Europe,Portugal,2020-03-06,9.0,4.0,0.0,0.0,0.883,0.392,...,14.924,27936.896,0.5,127.842,9.85,16.3,30.0,NaN,3.39,82.05
24464,PRT,Europe,Portugal,2020-03-07,13.0,4.0,0.0,0.0,1.275,0.392,...,14.924,27936.896,0.5,127.842,9.85,16.3,30.0,NaN,3.39,82.05

## ESPAÑA

In [25]:
# ESPAÑA
#  Ahora buscamos el primer dia en el que el España comunica el primer caso. Los registros anteriores a esta fecha no es necesario analizarlo ya que no existen datos de covid.
covid_dates_esp = covid_grupoD[(covid_grupoD['country']== 'ESP') & (covid_grupoD.new_cases>0)]
covid_dates_esp

,country,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,...,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy
28242,ESP,Europe,Spain,2020-02-01,1.0,1.0,0.0,0.0,0.021,0.021,...,13.799,34272.36,1.0,99.403,7.17,27.4,31.4,NaN,2.97,83.56
28251,ESP,Europe,Spain,2020-02-10,2.0,1.0,0.0,0.0,0.043,0.021,...,13.799,34272.36,1.0,99.403,7.17,27.4,31.4,NaN,2.97,83.56
28266,ESP,Europe,Spain,2020-02-25,3.0,1.0,0.0,0.0,0.064,0.021,...,13.799,34272.36,1.0,99.403,7.17,27.4,31.4,NaN,2.97,83.56
28267,ESP,Europe,Spain,2020-02-26,9.0,6.0,0.0,0.0,0.192,0.128,...,13.799,34272.36,1.0,99.403,7.17,27.4,31.4,NaN,2.97,83.56
28268,ESP,Europe,Spain,2020-02-27,17.0,8.0,0.0,0.0,0.364,0.171,...,13.799,34272.36,1.0,99.403,7.17,27.4,31.4,NaN,2.97,83.56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28415,ESP,Europe,Spain,2020-07-23,270166.0,2615.0,28429.0,3.0,5778.361,55.930,...,13.799,34272.36,1.0,99.403,7.17,27.4,31.4,NaN,2.97,83.56
28416,ESP,Europe,Spain,2020-07-24,272421.0,2255.0,28432.0,3.0,5826.591,48.230,...,13.799,34272.36,1.0,99.403,7.17,27.4,31.4,NaN,2.97,83.56
28419,ESP,Europe,Spain,2020-07-27,278782.0,6361.0,28434.0,2.0,5962.641,136.050,...,13.799,34272.36,1.0,99.403,7.17,27.4,31.4,NaN,2.97,83.56
28420,ESP,Europe,Spain,2020-07-28,280610.0,1828.0,28436.0,2.0,6001.739,39.098,...,13.799,34272.36,1.0,99.403,7.17,27.4,31.4,NaN,2.97,83.56
28421,ESP,Europe,Spain,2020-07-29,282641.0,2031.0,28441.0,5.0,6045.178,43.439,...,13.799,34272.36,1.0,99.403,7.17,27.4,31.4,NaN,2.97,83.56

## VENEZUELA

In [41]:
# VENEZUELA
covid_dates_ven = covid_grupoD[(covid_grupoD['country']== 'VEN') & (covid_grupoD.new_cases>0)]
covid_dates_ven

,country,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,...,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy
32526,VEN,South America,Venezuela,2020-03-15,10.0,10.0,0.0,0.0,0.352,0.352,...,3.915,16745.022,NaN,204.85,6.47,NaN,NaN,NaN,0.8,72.06
32527,VEN,South America,Venezuela,2020-03-16,15.0,5.0,0.0,0.0,0.528,0.176,...,3.915,16745.022,NaN,204.85,6.47,NaN,NaN,NaN,0.8,72.06
32528,VEN,South America,Venezuela,2020-03-17,33.0,18.0,0.0,0.0,1.161,0.633,...,3.915,16745.022,NaN,204.85,6.47,NaN,NaN,NaN,0.8,72.06
32532,VEN,South America,Venezuela,2020-03-21,36.0,3.0,0.0,0.0,1.266,0.106,...,3.915,16745.022,NaN,204.85,6.47,NaN,NaN,NaN,0.8,72.06
32535,VEN,South America,Venezuela,2020-03-24,84.0,48.0,0.0,0.0,2.954,1.688,...,3.915,16745.022,NaN,204.85,6.47,NaN,NaN,NaN,0.8,72.06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32656,VEN,South America,Venezuela,2020-07-24,13613.0,839.0,129.0,9.0,478.725,29.505,...,3.915,16745.022,NaN,204.85,6.47,NaN,NaN,NaN,0.8,72.06
32657,VEN,South America,Venezuela,2020-07-25,14263.0,650.0,134.0,5.0,501.584,22.858,...,3.915,16745.022,NaN,204.85,6.47,NaN,NaN,NaN,0.8,72.06
32659,VEN,South America,Venezuela,2020-07-27,15463.0,1200.0,142.0,8.0,543.784,42.200,...,3.915,16745.022,NaN,204.85,6.47,NaN,NaN,NaN,0.8,72.06
32660,VEN,South America,Venezuela,2020-07-28,15988.0,525.0,146.0,4.0,562.246,18.463,...,3.915,16745.022,NaN,204.85,6.47,NaN,NaN,NaN,0.8,72.06
32661,VEN,South America,Venezuela,2020-07-29,16571.0,583.0,151.0,5.0,582.748,20.502,...,3.915,16745.022,NaN,204.85,6.47,NaN,NaN,NaN,0.8,72.06

## TURQUIA

In [42]:
# TURQUIA
covid_dates_tur = covid_grupoD[(covid_grupoD['country']== 'TUR') & (covid_grupoD.new_cases>0)]
covid_dates_tur

,country,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,...,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy
30809,TUR,Asia,Turkey,2020-03-12,1.0,1.0,0.0,0.0,0.012,0.012,...,5.061,25129.341,0.2,171.285,12.13,14.1,41.1,NaN,2.81,77.69
30810,TUR,Asia,Turkey,2020-03-13,2.0,1.0,0.0,0.0,0.024,0.012,...,5.061,25129.341,0.2,171.285,12.13,14.1,41.1,NaN,2.81,77.69
30811,TUR,Asia,Turkey,2020-03-16,18.0,16.0,0.0,0.0,0.213,0.190,...,5.061,25129.341,0.2,171.285,12.13,14.1,41.1,NaN,2.81,77.69
30812,TUR,Asia,Turkey,2020-03-17,47.0,29.0,0.0,0.0,0.557,0.344,...,5.061,25129.341,0.2,171.285,12.13,14.1,41.1,NaN,2.81,77.69
30813,TUR,Asia,Turkey,2020-03-18,98.0,51.0,0.0,0.0,1.162,0.605,...,5.061,25129.341,0.2,171.285,12.13,14.1,41.1,NaN,2.81,77.69
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30943,TUR,Asia,Turkey,2020-07-26,225173.0,921.0,5596.0,16.0,2669.854,10.920,...,5.061,25129.341,0.2,171.285,12.13,14.1,41.1,NaN,2.81,77.69
30944,TUR,Asia,Turkey,2020-07-27,226100.0,927.0,5613.0,17.0,2680.845,10.991,...,5.061,25129.341,0.2,171.285,12.13,14.1,41.1,NaN,2.81,77.69
30945,TUR,Asia,Turkey,2020-07-28,227019.0,919.0,5630.0,17.0,2691.742,10.896,...,5.061,25129.341,0.2,171.285,12.13,14.1,41.1,NaN,2.81,77.69
30946,TUR,Asia,Turkey,2020-07-29,227982.0,963.0,5645.0,15.0,2703.160,11.418,...,5.061,25129.341,0.2,171.285,12.13,14.1,41.1,NaN,2.81,77.69
30947,TUR,Asia,Turkey,2020-07-30,228924.0,942.0,5659.0,14.0,2714.329,11.169,...,5.061,25129.341,0.2,171.285,12.13,14.1,41.1,NaN,2.81,77.69

## GRAN BRETAÑA

In [43]:
# GRAN BRETAÑA
covid_dates_gbr = covid_grupoD[(covid_grupoD['country']== 'GBR') & (covid_grupoD.new_cases>0)]
covid_dates_gbr

,country,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,...,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy
31591,GBR,Europe,United Kingdom,2020-02-01,2.0,2.0,0.0,0.0,0.029,0.029,...,12.527,39753.244,0.2,122.137,4.28,20.0,24.7,NaN,2.54,81.32
31595,GBR,Europe,United Kingdom,2020-02-05,3.0,1.0,0.0,0.0,0.044,0.015,...,12.527,39753.244,0.2,122.137,4.28,20.0,24.7,NaN,2.54,81.32
31597,GBR,Europe,United Kingdom,2020-02-07,4.0,1.0,0.0,0.0,0.059,0.015,...,12.527,39753.244,0.2,122.137,4.28,20.0,24.7,NaN,2.54,81.32
31600,GBR,Europe,United Kingdom,2020-02-10,8.0,4.0,0.0,0.0,0.118,0.059,...,12.527,39753.244,0.2,122.137,4.28,20.0,24.7,NaN,2.54,81.32
31601,GBR,Europe,United Kingdom,2020-02-11,9.0,1.0,0.0,0.0,0.133,0.015,...,12.527,39753.244,0.2,122.137,4.28,20.0,24.7,NaN,2.54,81.32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31767,GBR,Europe,United Kingdom,2020-07-26,299830.0,667.0,45738.0,61.0,4416.669,9.825,...,12.527,39753.244,0.2,122.137,4.28,20.0,24.7,NaN,2.54,81.32
31768,GBR,Europe,United Kingdom,2020-07-27,300251.0,421.0,45752.0,14.0,4422.870,6.202,...,12.527,39753.244,0.2,122.137,4.28,20.0,24.7,NaN,2.54,81.32
31769,GBR,Europe,United Kingdom,2020-07-28,300622.0,371.0,45759.0,7.0,4428.335,5.465,...,12.527,39753.244,0.2,122.137,4.28,20.0,24.7,NaN,2.54,81.32
31770,GBR,Europe,United Kingdom,2020-07-29,300692.0,70.0,45878.0,119.0,4429.367,1.031,...,12.527,39753.244,0.2,122.137,4.28,20.0,24.7,NaN,2.54,81.32
31771,GBR,Europe,United Kingdom,2020-07-30,301455.0,763.0,45961.0,83.0,4440.606,11.239,...,12.527,39753.244,0.2,122.137,4.28,20.0,24.7,NaN,2.54,81.32

In [ ]:
# Haciendolo con pivot_tablet
new = pd.pivot_table(covid_general2, values=['total_cases'], index=['date'], columns=['iso_code'], aggfunc='sum', observed=False)
# En columns se puede pasar un array, preguntar Clara????????